* {
  margin: 0;
  box-sizing: border-box;
}
.hero {
  position: relative;
  height: 80vh;
  overflow: hidden;
}
h1{
    font-size: 50px;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}
.slider-track {
  display: flex;
  height: 100%;
  transition: transform 0.6s ease-in-out;
}
.slide {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  z-index: 1;
}
.hero-content {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 0 20px;
}
.arrow_left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);z-index: 10; 
  border: none;background: transparent;
  font-size: 62px;color: white;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 100%;
}
.arrow_right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);z-index: 10; 
  border: none;background: transparent;
  font-size: 62px;
  padding: 10px 16px;color: white;
  cursor: pointer;
  border-radius: 100%;
}
.arrow_left {
  left: 20px;
}
.arrow_right {
  right: 20px;
}

.marquee {
  position: absolute; 
  z-index: 3;margin: 0 0px;
  width: 100%;
  overflow: hidden;
  padding: 14px 0;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: scroll 25s linear infinite;
  will-change: transform;
}

.marquee-track span {
  margin: 0 26px;
  font-weight: 400;
  font-size: 1.7rem;
  color:  whitesmoke;
  white-space: nowrap;
  transition: transform 0.3s ease, color 0.3s ease;
}

.marquee-track span:hover {
  transform: translateY(-3px);
  color: rgb(168, 0, 0);
}
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 3;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
