.titre{
    font-size: xx-large;
    text-align: center;

}
.steps {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 40px;
  background: #f7f7f7;
}

.card {
  background: white;
  width: 300px;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}



.card h3 {
  margin: 10px 0;
  font-size: 20px;
}

.card p {
  color: #555;
  font-size: 14px;
  line-height: 1.6;
}
.card h1 {
  margin: 10px 0;
  font-size: 20px;
  color: rgb(212, 0, 255);
}
.qus{
   text-align: center;
   font-size: x-large;
}
.qus p{
    font-size: xx-large;
}
.btnn{
    background-color: rgb(230, 0, 255);
    color: white;
    margin: auto;
}
.qus {
    margin-bottom: 50px;
    padding: 30px;
    border-bottom: 1px solid #eee;
}

/* تصميم شريط التقدم */
.progress-bar-container {
    width: 100%;
    height: 8px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 40px;
    overflow: hidden;
}
img{
  margin-right: 45%;
}
/* كلاسات مخصصة للأحجام */
.size-3 { width: 65px; height: 60px; border-radius:50px ; }
.size-2 { width: 50px; height: 45px;  border-radius:40px ; }
.size-1 { width: 40px; height: 40px;   border-radius:40px ;}
.size-0 { width: 30px; height: 30px;   border-radius:40px ;}

/* تأثير عند الاختيار */
.selected-positive { background-color: #14b8a6 !important; border-color:#f7558b !important; }
.selected-negative { background-color: #f75855  !important; border-color: #14b8a6  !important; }
.progress-bar {
    height: 100%;
    background-color: #2d9d91;
    transition: width 0.5s ease-in-out;
}



.btnn {
    padding: 15px 60px;
    font-size: 1.2rem;
    background-color: #33a474;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
    margin-left:10%;
}
.btn-back{
 padding: 15px 60px;
    font-size: 1.2rem;
    background-color:rgb(157, 0, 255);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
   
   
}
