.container {
  display: flex;
  flex-wrap: wrap; 
  margin: 30px 50px;
  
  border-radius: 20px;
  overflow: hidden;
}
.left {
  flex: 1 1 50%;
  border-radius: 20px 0 0 20px;background: linear-gradient(135deg, #7c3aed, #ec4899);
  overflow: hidden;
  position: relative;
}

.left-content h2 {
  margin: 0;
  font-size: 32px;
}
.right {
  flex: 1 1 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 20px 20px 0;
  color: #6366f1;
}
.form {
  width: 100%;
  max-width: 390px;
}

.form h2 {
  margin-bottom: 10px;
  text-align: center;
  font-size: xx-large;
}
.subtitle {
  font-size: 14px;
  color: #9ca3af;
  margin-bottom: 20px;
}
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  background: #bbcff1;
  color: #1e293b; /* meilleur contraste */
}
input::placeholder {
  color: #1e293b;
}
.row {
  display: flex;
  gap: 10px;
}
.btn {
  width: 100%;
  padding: 12px;
  background: #6366f1;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

/* ===== IMAGE ===== */
.image-wrapper {
  display: flex;
  height: 100%;
}

.image-box {
  position: relative;
  overflow: hidden;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ===== OVERLAY ===== */


.overlay h2 {
  font-size: 40px;
  margin: 0;
  padding: 10px 15px;
}

.overlay p {
  font-size: 18px;
  opacity: 0.9;
}

/* ===== RADIO GROUP ===== */
.radio-group {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  align-items: center;
}

.radio-group label {
  font-size: 14px;
  color: #1e293b;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* ===== TERMS ===== */
.terms {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #1e293b;
  margin-bottom: 15px;
  gap: 8px;
}

.terms input {
  margin-right: 8px;
}

/* ===== FILE INPUT ===== */
.file-input {
  display: block;
  
  width: 100%;
  background: #bbcff1;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  color: #1e293b;
  font-size: 14px;
  text-align: center;
  position: relative;
  margin-bottom: 15px;
  border:  2px  dashed white;
  transition: background 0.3s;
}

.file-input:hover {
  background: #a3b8e0;
}

.file-input input[type="file"] {
  display: none;
}
.tit1{
    font-size: 50px;margin-top: 25%;font-family: "Archivo black",sans-serif;
    font-family: "calibri";font-weight: 700;margin-left: 20px;
}
.tit2{
font-size: 50px;font-family: "Archivo black",sans-serif;font-family: "calibri";font-weight: 700;margin-left: 20px;
}

